# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/getbin.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

bin/**
cache/**
test/cache/**
test/usr/**

/.idea/
/sources.yaml
